@charset "UTF-8";
@use "sass:math";
@use "sass:map";

// iOSでのデフォルトスタイルをリセット
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;

  &::-webkit-search-decoration {
    display: none;
  }

  &:focus {
    outline-offset: -2px;
  }
}

// min-width
$breakpoint-up: (
  "xs": "screen and (min-width: 380px)",
  "sm": "screen and (min-width: 480px)",
  "tb": "screen and (min-width: 650px)",
  "md": "screen and (min-width: 830px)",
  "lg": "screen and (min-width: 1100px)",
  "xl": "screen and (min-width: 1366px)",
) !default;

// max-width
$breakpoint-down: (
  "xs": "screen and (max-width: 379px)",
  "sm": "screen and (max-width: 479px)",
  "tb": "screen and (max-width: 649px)",
  "md": "screen and (max-width: 829px)",
  "lg": "screen and (max-width: 1099px)",
  "xl": "screen and (max-width: 1365px)",
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
  @media #{map.get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map.get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@include mq-down(md) {
  .pc_only {
    display: none !important;
  }

  .sp_only {
    display: block !important;
  }
}

@include mq-up(md) {
  .pc_only {
    display: block !important;
  }

  .sp_only {
    display: none !important;
  }
}

//------------------------
/* サイト設計 */

// フォントタイプ/
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@800&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");

//font-familyここから
@mixin Zenkaku($weight: bold) {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;

  @if $weight ==medium {
    font-weight: 500;
  } @else if $weight ==bold {
    font-weight: 700;
  }
}

@mixin Caveat() {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin Montserrat() {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  @include letterSpacing(-37);
}

//font-sizeここから
$fontSize: 16;
$fontSize_sm: 16;
$lineHeight: 1.5;
$lineHeight_sm: 1.5;

@mixin fontSize($fontSize: $fontSize, $fontSize_sm: $fontSize, $lineHeight: $lineHeight, $lineHeight_sm: $lineHeight_sm) {
  font-size: #{$fontSize}px;
  line-height: $lineHeight;

  @include mq-down(md) {
    font-size: #{$fontSize_sm}px;
    line-height: $lineHeight_sm;
  }
}

$letterSpacing: 100;
$letterSpacing: 50;

// xdの数値をそのまま入力するletter-spacing
@mixin letterSpacing($letterSpacing: $letterSpacing, $letterSpacing_md: $letterSpacing) {
  // 親プロパティはネストより上
  & {
    letter-spacing: calc(#{math.div($letterSpacing, 1000)} * 1em);
  }

  @include mq-down(md) {
    letter-spacing: calc(#{math.div($letterSpacing_md, 1000)} * 1em);
  }
}

//変数
$fontColor: #1c1c1c;
$mainColor: #2f5f98;
$accentColor: #fbca41;
$pointColor: #46bbd8;
$whiteColor: #f9f9f9;
$bgColor: #eeeeee;
$lightColor: #e2efff;

body {
  background-color: #fff;
  position: relative;
  color: $fontColor;
  width: 100%;
  height: auto;
  margin: 0;
  @include Zenkaku();
  @include fontSize(16, 16, 1.6, 1.6);

  img {
    width: 100%;
    height: auto;
  }
}

header {
  .header-title {
    background-color: $mainColor;
    padding: 5px 0;

    @include mq-down(md) {
      padding: 8px 0;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 1366px;
      color: #fff;
      margin: 0 auto;

      @include mq-down(xl) {
        padding: 0 60px;
      }

      @include mq-down(md) {
        padding: 0 22px;
      }
    }

    &__text {
      padding-left: 20px;
      position: relative;
      @include fontSize(13, 10, 1, 1);
      @include letterSpacing(50, 50);

      &:before {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        content: "";
        border-style: solid;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 8px solid #fbca41;
        border-right: 0;
      }
    }

    &__link {
      @include mq-down(md) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;
        justify-self: end;
      }

      li {
        padding: 0 20px;
        border-left: solid 1px #fff;
        border-right: solid 1px #fff;
        @include fontSize(12, 12, 1, 1);
        @include letterSpacing(0, 0);

        &:last-of-type {
          border-left: none;
        }
      }
    }
  }

  .header-nav {
    &__inner {
      position: fixed;
      display: flex;
      left: 50%;
      transform: translate(-50%, 0%);
      max-width: 1366px;
      align-items: center;
      padding-top: 16px;
      margin: 0 auto;
      width: 100%;
      justify-content: space-between;
      z-index: 10;
      top: 24px;

      @include mq-down(xl) {
        padding: 0 60px;
      }

      @include mq-down(md) {
        padding: 0 22px;
        top: 36px;
      }
    }

    &__menu {
      position: fixed;
      top: 0;
      z-index: 1;
      background-color: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s ease-in;

      img {
        width: 80.53%;
        max-width: 1100px;

        @include mq-down(md) {
          width: 89.33%;
        }
      }

      &.on {
        opacity: 1;
        transition: all 0.2s ease-in;
      }
    }

    &__comment {
      position: fixed;
      right: 30px;
      width: 260px;

      @include mq-down(md) {
        width: 220px;
        bottom: 45px;
        right: 5.33%;
      }
    }
  }

  .header__logo {
    width: 115px;
    height: auto;

    @include mq-down(md) {
      width: 83px;
    }
  }

  .hamburger {
    width: 50px;
    height: 50px;
    background-color: $mainColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq-down(md) {
      width: 43px;
      height: 43px;
    }

    &__inner {
      width: 24px;
      height: 18px;
      position: relative;

      @include mq-down(md) {
        width: 23px;
        height: 13px;
      }
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #fff;
      border-radius: 1.5px;
      left: 0;
      top: 50%;
      transform: translate(0%, -50%);
      transition: all 0.2s ease-in;

      @include mq-down(md) {
        height: 2px;
      }

      &:first-of-type {
        top: 0;
        transition: all 0.2s ease-in;
      }

      &:last-of-type {
        top: 100%;
        transition: all 0.2s ease-in;
      }
    }

    &.on {
      .hamburger__line {
        &:first-of-type {
          transform: translateY(8px) rotate(-35deg);
          transition: all 0.2s ease-in;

          @include mq-down(md) {
            transform: translateY(6px) rotate(-35deg);
          }
        }

        &:nth-of-type(2) {
          opacity: 0;
          transition: all 0.2s ease-in;
        }

        &:last-of-type {
          transform: translateY(-10px) rotate(35deg);
          transition: all 0.2s ease-in;

          @include mq-down(md) {
            transform: translateY(-7px) rotate(35deg);
          }
        }
      }
    }
  }
}

.floating {
  z-index: 10;
  position: fixed;
  right: -10px;
  bottom: 6%;
  opacity: 1;

  &.on {
    opacity: 1;
    transition: all 0.2s ease-in;
  }

  &__line {
    margin-bottom: 6px;

    &:hover .floating-item--line {
      transform: translateX(-10px);
      transition: transform 0.3s ease;
    }
  }

  &__instagram {
    &:hover .floating-item--instagram {
      transform: translateX(-10px);
      transition: transform 0.3s ease;
    }
  }

  .floating-item {
    display: flex;
    align-items: center;
    color: #fff;
    writing-mode: vertical-rl;
    padding: 16px 24px 16px 14px;
    border-radius: 10px 0 0 10px;
    position: relative;
    transition: transform 0.3s ease;
    @include fontSize(16, 12, 1, 1);
    @include letterSpacing(100, 50);

    img {
      width: 25px;
      height: auto;
      display: inline;
      padding-top: 8px;
    }

    span {
      content: "";
      width: 53px;
      height: 50px;
      writing-mode: horizontal-tb;
      background-image: url(../images/line-bubble.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -30px;
      left: -15px;
    }

    &--line {
      background-color: #41cf70;
    }

    &--instagram {
      background-color: #f05692;
    }
  }
}

.main {
  width: 100vw;
  height: auto;
}

.mv {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__bg {
    aspect-ratio: 990 / 655;
    height: 85.29%;
    background-image: url(../images/mv-bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 90px 60px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  &__text {
    li {
      color: $mainColor;
      @include fontSize(20, 18, 1.5, 1.6);
      @include letterSpacing(150, 150);
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__logo {
    color: $mainColor;
    @include fontSize(31, 27, 1.5, 1.5);
    @include Montserrat();
    padding-top: 36px;

    @include mq-down(md) {
      padding-top: 0;
    }

    span {
      color: $accentColor;
    }
  }

  &__catch {
    width: 38.89%;
    height: auto;
    height: 100%;
  }

  &__decoration {
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 150px;
      height: 150px;
    }
  }
}

// #mv {
//   width: 50%;
//   height: auto;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

#base path {
  fill: #000;
  /* 塗りの色 */
}

#mask path {
  fill: none;
  /* 塗りの色 */
  stroke: #ffffff;
  /* 線の色 */
  stroke-width: 10px;
  /* 線幅 */
  stroke-linecap: round;
  /* 線端の形状 */
  stroke-linejoin: round;
  /* 角の形状 */
}

// 共通パーツ
.more-btn {
  width: 185px;
  height: 58px;
  background-image: url(../images/button-bk.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    width: 28px;
    height: 8px;
    margin-top: 4px;
  }

  &__text {
    font-family: "Caveat", cursive;
    @include fontSize(20, 20, 1, 1);
    @include letterSpacing(100);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}
// 共通パーツここまで

.scene {
  width: 100%;
  padding-top: 80px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__line {
    position: absolute;
    bottom: -16px;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    width: 130px;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .scene-ttl {
    text-align: center;
    color: $mainColor;
    position: relative;

    &__sup {
      position: absolute;
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);

      span {
        @include fontSize(16, 1);
        @include letterSpacing(100);
        background-color: $accentColor;
        padding: 4px 40px;
        width: fit-content;
        border-radius: 18px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -8px;
          border: 8px solid transparent;
          border-top: 8px solid $accentColor;
        }
      }
    }

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding-top: 16px;
    }

    &__img {
      height: 88px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__img2 {
      width: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    &__text {
      @include fontSize(25, 1);
      @include letterSpacing(50);
    }
  }

  &__flex {
    position: relative;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 8px;
    top: -48px;
  }

  &__item {
    &:nth-child(2) {
      padding-top: 38px;
    }
    &:nth-child(3) {
      padding-top: 40px;
    }
  }
}

.holl {
  padding-top: 320px;

  .holl-ttl {
    text-align: center;
    color: $fontColor;
    @include fontSize(20, 1);
    @include letterSpacing(50);

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      img {
        width: 402px;
      }
    }

    &__bottom {
      margin-top: 8px;
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::after {
        content: "";
        position: absolute;
        width: 58px;
        height: 8px;
        background-image: url(../images/holl-ttlline.png);
        background-size: cover;
        bottom: -8px;
        left: 120px;
      }
    }
  }

  &__wrap {
    width: 100%;
    height: 600px;
    background: $mainColor;
    clip-path: polygon(0 0, /* 左上 */ 50% 10%, /* 中央を少し下げる */ 100% 0, /* 右上 */ 100% 100%, /* 右下 */ 0 100% /* 左下 */);
  }

  .holl-bottom {
    padding-top: 120px;

    .holl-text {
      text-align: center;
      @include fontSize(24, 1);
      @include letterSpacing(50);

      &__bottom {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 8px;
      }

      &__logo {
        color: $mainColor;
        @include fontSize(30, 1);
        @include Montserrat();
        margin-right: 8px;

        span {
          color: $accentColor;
        }
      }

      &__sup {
        text-align: center;
        margin-top: 44px;
        @include fontSize(20, 20, 2, 2);
        @include letterSpacing(50);

        span {
          position: relative;
          z-index: 1;
          margin: 0 4px;

          &::before {
            content: "";
            position: absolute;
            width: 108%;
            height: 10px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            bottom: 0;
            background-color: $accentColor;
            z-index: -1;
          }

          &::after {
            content: "8";
            position: absolute;
            bottom: -2px;
            left: -2px;
            font-family: "Caveat", cursive;
            @include fontSize(40, 40, 1, 1);
            @include letterSpacing(100);
            color: $mainColor;
          }
        }
      }
    }
  }

  &__btn {
    width: fit-content;
    margin: 26px auto 0;
  }

  &__message {
    margin-top: 44px;
    width: 562px;
  }
}

.story {
  margin-top: 124px;

  .story-ttl {
    text-align: center;

    &__en {
      width: 166px;
      margin: 0 auto;
    }

    &__ja {
      @include fontSize(30, 30, 1, 1);
      @include letterSpacing(100);
      color: $mainColor;
    }
  }

  &__text {
    text-align: center;
    margin-top: 40px;
    @include fontSize(16, 16, 2, 2);
    @include letterSpacing(50);
  }

  &__nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 36px;
    margin-top: 56px;

    li {
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 8px;
      width: fit-content;
      position: relative;

      p {
        @include fontSize(18, 18, 1, 1);
        @include letterSpacing(100);
      }

      img {
        width: 20px;
        height: 12px;
        margin-top: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/walk-line.png);
        background-size: cover;
        width: 100%;
        height: 4px;
        bottom: -16px;
        left: 0;
      }

      &:nth-child(2) {
        &::after {
          background-image: url(../images/lang-line.png);
        }
      }

      &:nth-child(3) {
        &::after {
          background-image: url(../images/regular-line.png);
        }
      }
    }
  }

  .story-list {
    margin-top: 48px;

    &__wrap {
      background: rgba(70, 187, 216, 0.1);
      padding: 24px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(2) {
        background: rgba(67, 183, 113, 0.1);

        > .story-list__outer {
          border: solid 2px #43b771;
          color: #43b771;

          &::before {
            background-image: url(../images/lang-deco01.png);
          }

          &::after {
            background-image: url(../images/lang-deco02.png);
          }

          > .story-list__inner {
            > .story-list__ttl {
              &::after {
                background-image: url(../images/lang-line.png);
              }
            }

            > .story-list__box {
              > .story-list__img {
                &::before {
                  content: "ESL";
                  left: -16px;
                }

                > .story-list__btn {
                  background-color: #43b771;
                }
              }

              > .story-list__about {
                &::after {
                  background-image: url(../images/lang-serif.png);
                }

                > .story-list__block {
                  &:nth-child(2) {
                    > .story-list__unit {
                      > .story-list__item {
                        border: dashed 1px #43b771;
                      }
                    }
                  }

                  > .story-list__unit {
                    > .story-list__tab {
                      background-color: #43b771;
                    }

                    > .story-list__item {
                      border: solid 1px #43b771;

                      &::after {
                        background-color: #43b771;
                        border: solid 1px #43b771;
                      }
                    }
                  }
                }
              }
            }

            > .story-list__nav {
              background: rgba(67, 183, 113, 0.1);

              li {
                > .story-list__navcap {
                  color: #43b771;
                  background-image: url(../images/lang-navcap.png);
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        background: rgba(159, 98, 184, 0.1);

        > .story-list__outer {
          border: solid 2px #9f62b8;
          color: #9f62b8;

          &::before {
            background-image: url(../images/regular-deco01.png);
          }

          &::after {
            background-image: url(../images/regular-deco02.png);
          }

          > .story-list__inner {
            > .story-list__ttl {
              &::after {
                background-image: url(../images/regular-line.png);
              }
            }

            > .story-list__box {
              > .story-list__img {
                &::before {
                  content: "Diploma & Degree Program";
                  top: -20px;
                }

                > .story-list__btn {
                  background-color: #9f62b8;
                }
              }

              > .story-list__about {
                &::after {
                  background-image: url(../images/regular-serif.png);
                }

                > .story-list__block {
                  &:nth-child(2) {
                    > .story-list__unit {
                      > .story-list__item {
                        border: dashed 1px #9f62b8;
                      }
                    }
                  }

                  > .story-list__unit {
                    > .story-list__tab {
                      background-color: #9f62b8;
                    }

                    > .story-list__item {
                      border: solid 1px #9f62b8;

                      &::after {
                        background-color: #9f62b8;
                        border: solid 1px #9f62b8;
                      }
                    }
                  }
                }
              }
            }

            > .story-list__nav {
              background: rgba(159, 98, 184, 0.1);

              li {
                > .story-list__navcap {
                  color: #9f62b8;
                  background-image: url(../images/regular-navcap.png);
                }
              }
            }
          }
        }
      }
    }

    &__outer {
      width: 92%;
      margin: 0 auto;
      background-color: #fff;
      border: solid 2px #46bbd8;
      border-radius: 30px;
      padding: 80px 0 48px;
      color: #46bbd8;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/walk-deco01.png);
        background-size: contain;
        width: 150px;
        height: 150px;
        top: 10px;
        right: 20px;
      }

      &::after {
        position: absolute;
        content: "";
        background-image: url(../images/walk-deco02.png);
        background-size: contain;
        width: 150px;
        height: 150px;
        left: 10px;
        bottom: 12px;
      }
    }

    &__inner {
      width: 88%;
      margin: 0 auto;
    }

    &__ttl {
      width: fit-content;
      position: relative;
      h3 {
        @include fontSize(30, 30, 1, 1);
        @include letterSpacing(100);

        span {
          font-family: "Caveat", cursive;
          @include fontSize(29, 29, 1, 1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/walk-line.png);
        background-size: cover;
        width: 100%;
        height: 6px;
        bottom: -16px;
        left: 0;
      }
    }

    &__note {
      @include fontSize(18, 18, 1.5, 1.5);
      @include letterSpacing(100);
      margin-top: 48px;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-top: 64px;
    }

    &__img {
      width: 34%;
      aspect-ratio: 1.449 / 1;
      margin-left: 36px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

      &::before {
        content: "Working Horiday";
        position: absolute;
        font-family: "Caveat", cursive;
        @include fontSize(26, 26, 1, 1);
        @include letterSpacing(200);
        top: -16px;
        left: -36px;
        transform: rotate(-7deg);
      }
    }

    &__btn {
      position: absolute;
      right: -30px;
      bottom: -22px;
      width: 70px;
      height: 43px;
      border-radius: 50%;
      background-color: #46bbd8;
      display: flex;
      justify-content: left;
      align-items: center;

      img {
        width: 47px;
        height: 19px;
      }
    }

    &__about {
      padding-bottom: 56px;
      width: 54%;
      position: relative;

      &::before {
        position: absolute;
        content: "たとえば、\Aこんなご提案をします";
        white-space: pre;
        width: 236px;
        top: -72px;
        right: 0;
        text-align: center;
        @include fontSize(16, 16, 1.6, 1.6);
        @include letterSpacing(100);
      }

      &::after {
        position: absolute;
        content: "";
        background-image: url(../images/walk-serif.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 236px;
        height: 72px;
        top: -56px;
        right: 0;
      }
    }

    &__block {
      display: flex;
      justify-content: left;
      align-items: end;
      gap: 10px;
      @include fontSize(20, 20, 1, 1);
      @include letterSpacing(100);

      &:nth-child(2) {
        margin-top: 20px;

        > .story-list__unit {
          width: 35%;
          > .story-list__item {
            border: dashed 1px #46bbd8;
          }
        }
      }
    }

    &__unit {
      position: relative;
      width: 76%;
      &:nth-of-type(3) {
        margin-left: 32px;
      }
    }

    &__tab {
      width: fit-content;
      padding: 8px 16px;
      background-color: #46bbd8;
      color: #fff;
      border-radius: 8px 8px 0 0;
      @include fontSize(14, 14, 1, 1);
      @include letterSpacing(50);
    }

    &__item {
      width: 100%;
      padding: 16px 0;
      border: solid 1px #46bbd8;
      border-radius: 0 4px 4px 4px;
      position: relative;
      z-index: 1;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #46bbd8;
        border: solid 1px #46bbd8;
        border-radius: 0 4px 4px 4px;
        opacity: 0.08;
        left: 3px;
        top: 3px;
        z-index: -1;
      }
    }

    &__text {
      padding-bottom: 16px;
      position: relative;

      span {
        font-family: "Caveat", cursive;
        @include fontSize(50, 50, 1, 1);
        @include letterSpacing(100);
        position: absolute;
        bottom: 6px;
      }
    }

    &__caption {
      position: absolute;
      width: 92%;
      height: 48px;
      margin-top: 6px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__nav {
      display: flex;
      height: 60px;
      margin: 104px auto 0;
      width: fit-content;
      background: rgba(70, 187, 216, 0.1);
      border-radius: 30px;

      li {
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include fontSize(18, 18, 1, 1);
        @include letterSpacing(100);
        color: #444444;

        &:nth-child(n + 2) {
          &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 27px;
            background: repeating-linear-gradient(to bottom, #808080 0 2px, transparent 2px 4px);
            left: 0;
          }
        }
      }
    }

    &__navcap {
      position: absolute;
      color: #46bbd8;
      @include fontSize(14, 14, 1, 1);
      @include letterSpacing(100);
      top: -24px;
      background-image: url(../images/walk-navcap.png);
      background-size: contain;
      width: 192px;
      height: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
