@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@800&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");
input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]:focus,
input[type=button]:focus {
  outline-offset: -2px;
}

@media screen and (max-width: 829px) {
  .pc_only {
    display: none !important;
  }
  .sp_only {
    display: block !important;
  }
}
@media screen and (min-width: 830px) {
  .pc_only {
    display: block !important;
  }
  .sp_only {
    display: none !important;
  }
}
/* サイト設計 */
body {
  background-color: #fff;
  position: relative;
  color: #1c1c1c;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (max-width: 829px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }
}
body img {
  width: 100%;
  height: auto;
}

header .header-title {
  background-color: #2f5f98;
  padding: 5px 0;
}
@media screen and (max-width: 829px) {
  header .header-title {
    padding: 8px 0;
  }
}
header .header-title__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  color: #fff;
  margin: 0 auto;
}
@media screen and (max-width: 1365px) {
  header .header-title__inner {
    padding: 0 60px;
  }
}
@media screen and (max-width: 829px) {
  header .header-title__inner {
    padding: 0 22px;
  }
}
header .header-title__text {
  padding-left: 20px;
  position: relative;
  font-size: 13px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  header .header-title__text {
    font-size: 10px;
    line-height: 1;
  }
}
header .header-title__text {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  header .header-title__text {
    letter-spacing: calc(0.05 * 1em);
  }
}
header .header-title__text:before {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  content: "";
  border-style: solid;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 8px solid #fbca41;
  border-right: 0;
}
@media screen and (max-width: 829px) {
  header .header-title__link {
    display: none;
  }
}
header .header-title__link ul {
  display: flex;
  align-items: center;
  justify-self: end;
}
header .header-title__link li {
  padding: 0 20px;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
  font-size: 12px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  header .header-title__link li {
    font-size: 12px;
    line-height: 1;
  }
}
header .header-title__link li {
  letter-spacing: calc(0 * 1em);
}
@media screen and (max-width: 829px) {
  header .header-title__link li {
    letter-spacing: calc(0 * 1em);
  }
}
header .header-title__link li:last-of-type {
  border-left: none;
}
header .header-nav__inner {
  position: fixed;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 1366px;
  align-items: center;
  padding-top: 16px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
  top: 24px;
}
@media screen and (max-width: 1365px) {
  header .header-nav__inner {
    padding: 0 60px;
  }
}
@media screen and (max-width: 829px) {
  header .header-nav__inner {
    padding: 0 22px;
    top: 36px;
  }
}
header .header-nav__menu {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.2s ease-in;
}
header .header-nav__menu img {
  width: 80.53%;
  max-width: 1100px;
}
@media screen and (max-width: 829px) {
  header .header-nav__menu img {
    width: 89.33%;
  }
}
header .header-nav__menu.on {
  opacity: 1;
  transition: all 0.2s ease-in;
}
header .header-nav__comment {
  position: fixed;
  right: 30px;
  width: 260px;
}
@media screen and (max-width: 829px) {
  header .header-nav__comment {
    width: 220px;
    bottom: 45px;
    right: 5.33%;
  }
}
header .header__logo {
  width: 115px;
  height: auto;
}
@media screen and (max-width: 829px) {
  header .header__logo {
    width: 83px;
  }
}
header .hamburger {
  width: 50px;
  height: 50px;
  background-color: #2f5f98;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 829px) {
  header .hamburger {
    width: 43px;
    height: 43px;
  }
}
header .hamburger__inner {
  width: 24px;
  height: 18px;
  position: relative;
}
@media screen and (max-width: 829px) {
  header .hamburger__inner {
    width: 23px;
    height: 13px;
  }
}
header .hamburger__line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 1.5px;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 829px) {
  header .hamburger__line {
    height: 2px;
  }
}
header .hamburger__line:first-of-type {
  top: 0;
  transition: all 0.2s ease-in;
}
header .hamburger__line:last-of-type {
  top: 100%;
  transition: all 0.2s ease-in;
}
header .hamburger.on .hamburger__line:first-of-type {
  transform: translateY(8px) rotate(-35deg);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 829px) {
  header .hamburger.on .hamburger__line:first-of-type {
    transform: translateY(6px) rotate(-35deg);
  }
}
header .hamburger.on .hamburger__line:nth-of-type(2) {
  opacity: 0;
  transition: all 0.2s ease-in;
}
header .hamburger.on .hamburger__line:last-of-type {
  transform: translateY(-10px) rotate(35deg);
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 829px) {
  header .hamburger.on .hamburger__line:last-of-type {
    transform: translateY(-7px) rotate(35deg);
  }
}

.floating {
  z-index: 10;
  position: fixed;
  right: -10px;
  bottom: 6%;
  opacity: 1;
}
.floating.on {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.floating__line {
  margin-bottom: 6px;
}
.floating__line:hover .floating-item--line {
  transform: translateX(-10px);
  transition: transform 0.3s ease;
}
.floating__instagram:hover .floating-item--instagram {
  transform: translateX(-10px);
  transition: transform 0.3s ease;
}
.floating .floating-item {
  display: flex;
  align-items: center;
  color: #fff;
  writing-mode: vertical-rl;
  padding: 16px 24px 16px 14px;
  border-radius: 10px 0 0 10px;
  position: relative;
  transition: transform 0.3s ease;
  font-size: 16px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .floating .floating-item {
    font-size: 12px;
    line-height: 1;
  }
}
.floating .floating-item {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .floating .floating-item {
    letter-spacing: calc(0.05 * 1em);
  }
}
.floating .floating-item img {
  width: 25px;
  height: auto;
  display: inline;
  padding-top: 8px;
}
.floating .floating-item span {
  content: "";
  width: 53px;
  height: 50px;
  writing-mode: horizontal-tb;
  background-image: url(../images/line-bubble.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: -15px;
}
.floating .floating-item--line {
  background-color: #41cf70;
}
.floating .floating-item--instagram {
  background-color: #f05692;
}

.main {
  width: 100vw;
  height: auto;
}

.mv {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mv__bg {
  aspect-ratio: 990/655;
  height: 85.29%;
  background-image: url(../images/mv-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.mv__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 90px 60px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.mv__text li {
  color: #2f5f98;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
}
@media screen and (max-width: 829px) {
  .mv__text li {
    font-size: 18px;
    line-height: 1.6;
  }
}
.mv__text li {
  letter-spacing: calc(0.15 * 1em);
}
@media screen and (max-width: 829px) {
  .mv__text li {
    letter-spacing: calc(0.15 * 1em);
  }
}
.mv__text li:first-child {
  padding-top: 0;
}
.mv__logo {
  color: #2f5f98;
  font-size: 31px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding-top: 36px;
}
@media screen and (max-width: 829px) {
  .mv__logo {
    font-size: 27px;
    line-height: 1.5;
  }
}
.mv__logo {
  letter-spacing: calc(-0.037 * 1em);
}
@media screen and (max-width: 829px) {
  .mv__logo {
    letter-spacing: calc(-0.037 * 1em);
  }
}
@media screen and (max-width: 829px) {
  .mv__logo {
    padding-top: 0;
  }
}
.mv__logo span {
  color: #fbca41;
}
.mv__catch {
  width: 38.89%;
  height: auto;
  height: 100%;
}
.mv__decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}
.mv__decoration img {
  width: 150px;
  height: 150px;
}

#base path {
  fill: #000;
  /* 塗りの色 */
}

#mask path {
  fill: none;
  /* 塗りの色 */
  stroke: #ffffff;
  /* 線の色 */
  stroke-width: 10px;
  /* 線幅 */
  stroke-linecap: round;
  /* 線端の形状 */
  stroke-linejoin: round;
  /* 角の形状 */
}

.more-btn {
  width: 185px;
  height: 58px;
  background-image: url(../images/button-bk.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.more-btn img {
  width: 28px;
  height: 8px;
  margin-top: 4px;
}
.more-btn__text {
  font-family: "Caveat", cursive;
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .more-btn__text {
    font-size: 20px;
    line-height: 1;
  }
}
.more-btn__text {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .more-btn__text {
    letter-spacing: calc(0.1 * 1em);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.scene {
  width: 100%;
  padding-top: 80px;
}
.scene__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.scene__line {
  position: absolute;
  bottom: -16px;
  width: 100%;
  z-index: -1;
}
.scene__line img {
  width: 100%;
  height: 100%;
}
.scene__img {
  width: 130px;
  aspect-ratio: 1/1;
}
.scene__img img {
  width: 100%;
  height: 100%;
}
.scene .scene-ttl {
  text-align: center;
  color: #2f5f98;
  position: relative;
}
.scene .scene-ttl__sup {
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.scene .scene-ttl__sup span {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fbca41;
  padding: 4px 40px;
  width: fit-content;
  border-radius: 18px;
  position: relative;
}
@media screen and (max-width: 829px) {
  .scene .scene-ttl__sup span {
    font-size: 1px;
    line-height: 1.5;
  }
}
.scene .scene-ttl__sup span {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .scene .scene-ttl__sup span {
    letter-spacing: calc(0.1 * 1em);
  }
}
.scene .scene-ttl__sup span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #fbca41;
}
.scene .scene-ttl__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}
.scene .scene-ttl__img {
  height: 88px;
  position: relative;
}
.scene .scene-ttl__img img {
  width: 100%;
  height: 100%;
}
.scene .scene-ttl__img2 {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.scene .scene-ttl__text {
  font-size: 25px;
  line-height: 1.5;
}
@media screen and (max-width: 829px) {
  .scene .scene-ttl__text {
    font-size: 1px;
    line-height: 1.5;
  }
}
.scene .scene-ttl__text {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .scene .scene-ttl__text {
    letter-spacing: calc(0.05 * 1em);
  }
}
.scene__flex {
  position: relative;
}
.scene__list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  gap: 8px;
  top: -48px;
}
.scene__item:nth-child(2) {
  padding-top: 38px;
}
.scene__item:nth-child(3) {
  padding-top: 40px;
}

.holl {
  padding-top: 320px;
}
.holl .holl-ttl {
  text-align: center;
  color: #1c1c1c;
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .holl .holl-ttl {
    font-size: 20px;
    line-height: 1;
  }
}
.holl .holl-ttl {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .holl .holl-ttl {
    letter-spacing: calc(0.05 * 1em);
  }
}
.holl .holl-ttl__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.holl .holl-ttl__top img {
  width: 402px;
}
.holl .holl-ttl__bottom {
  margin-top: 8px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.holl .holl-ttl__bottom::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 8px;
  background-image: url(../images/holl-ttlline.png);
  background-size: cover;
  bottom: -8px;
  left: 120px;
}
.holl__wrap {
  width: 100%;
  background: #2f5f98;
  clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
}
.holl__box {
  padding: 152px 0;
}
.holl__point {
  width: fit-content;
  text-align: center;
  color: #fff;
  transform: rotate(-5deg);
  font-size: 26px;
  line-height: 1.8;
  margin-left: 64px;
  position: relative;
}
@media screen and (max-width: 829px) {
  .holl__point {
    font-size: 26px;
    line-height: 1.8;
  }
}
.holl__point {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .holl__point {
    letter-spacing: calc(0.1 * 1em);
  }
}
.holl__point span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.holl__point span:nth-child(2) {
  padding-top: 6px;
}
.holl__point img {
  width: 220px;
  height: 49px;
}
.holl__point::before {
  content: "";
  position: absolute;
  background-image: url(../images/holl-worries.png);
  background-size: cover;
  width: 32px;
  height: 40px;
  top: -32px;
  left: -64px;
}
.holl__point::after {
  content: "";
  position: absolute;
  background-image: url(../images/holl-bubble.png);
  background-size: cover;
  width: 72px;
  height: 72px;
  top: -48px;
  right: -48px;
}
.holl .holl-bottom {
  padding-top: 120px;
}
.holl .holl-bottom .holl-text {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text {
    font-size: 1px;
    line-height: 1.5;
  }
}
.holl .holl-bottom .holl-text {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text {
    letter-spacing: calc(0.05 * 1em);
  }
}
.holl .holl-bottom .holl-text__bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 8px;
}
.holl .holl-bottom .holl-text__logo {
  color: #2f5f98;
  font-size: 30px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-right: 8px;
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__logo {
    font-size: 30px;
    line-height: 1;
  }
}
.holl .holl-bottom .holl-text__logo {
  letter-spacing: calc(-0.037 * 1em);
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__logo {
    letter-spacing: calc(-0.037 * 1em);
  }
}
.holl .holl-bottom .holl-text__logo span {
  color: #fbca41;
}
.holl .holl-bottom .holl-text__sup {
  text-align: center;
  margin-top: 44px;
  font-size: 20px;
  line-height: 2;
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__sup {
    font-size: 20px;
    line-height: 2;
  }
}
.holl .holl-bottom .holl-text__sup {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__sup {
    letter-spacing: calc(0.05 * 1em);
  }
}
.holl .holl-bottom .holl-text__sup span {
  position: relative;
  z-index: 1;
  margin: 0 4px;
}
.holl .holl-bottom .holl-text__sup span::before {
  content: "";
  position: absolute;
  width: 108%;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
  background-color: #fbca41;
  z-index: -1;
}
.holl .holl-bottom .holl-text__sup span::after {
  content: "8";
  position: absolute;
  bottom: -2px;
  left: -2px;
  font-family: "Caveat", cursive;
  font-size: 40px;
  line-height: 1;
  color: #2f5f98;
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__sup span::after {
    font-size: 40px;
    line-height: 1;
  }
}
.holl .holl-bottom .holl-text__sup span::after {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .holl .holl-bottom .holl-text__sup span::after {
    letter-spacing: calc(0.1 * 1em);
  }
}
.holl__btn {
  width: fit-content;
  margin: 26px auto 0;
}
.holl__message {
  margin-top: 44px;
  width: 562px;
}

.story {
  margin-top: 124px;
}
.story .story-ttl {
  text-align: center;
}
.story .story-ttl__en {
  width: 166px;
  margin: 0 auto;
}
.story .story-ttl__ja {
  font-size: 30px;
  line-height: 1;
  color: #2f5f98;
}
@media screen and (max-width: 829px) {
  .story .story-ttl__ja {
    font-size: 30px;
    line-height: 1;
  }
}
.story .story-ttl__ja {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-ttl__ja {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story__text {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  line-height: 2;
}
@media screen and (max-width: 829px) {
  .story__text {
    font-size: 16px;
    line-height: 2;
  }
}
.story__text {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .story__text {
    letter-spacing: calc(0.05 * 1em);
  }
}
.story__nav {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 36px;
  margin-top: 56px;
}
.story__nav li {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8px;
  width: fit-content;
  position: relative;
}
.story__nav li p {
  font-size: 18px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .story__nav li p {
    font-size: 18px;
    line-height: 1;
  }
}
.story__nav li p {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story__nav li p {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story__nav li img {
  width: 20px;
  height: 12px;
  margin-top: 4px;
}
.story__nav li::after {
  content: "";
  position: absolute;
  background-image: url(../images/walk-line.png);
  background-size: cover;
  width: 100%;
  height: 4px;
  bottom: -16px;
  left: 0;
}
.story__nav li:nth-child(2)::after {
  background-image: url(../images/lang-line.png);
}
.story__nav li:nth-child(3)::after {
  background-image: url(../images/regular-line.png);
}
.story .story-list {
  margin-top: 48px;
}
.story .story-list__wrap {
  background: rgba(70, 187, 216, 0.1);
  padding: 24px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story .story-list__wrap:nth-child(2) {
  background: rgba(67, 183, 113, 0.1);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer {
  border: solid 2px #43b771;
  color: #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer::before {
  background-image: url(../images/lang-deco01.png);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer::after {
  background-image: url(../images/lang-deco02.png);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__ttl::after {
  background-image: url(../images/lang-line.png);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__img::before {
  content: "ESL";
  left: -16px;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__img > .story-list__btn {
  background-color: #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about::after {
  background-image: url(../images/lang-serif.png);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block:nth-child(2) > .story-list__unit > .story-list__item {
  border: dashed 1px #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__tab {
  background-color: #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__item {
  border: solid 1px #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__item::after {
  background-color: #43b771;
  border: solid 1px #43b771;
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__nav {
  background: rgba(67, 183, 113, 0.1);
}
.story .story-list__wrap:nth-child(2) > .story-list__outer > .story-list__inner > .story-list__nav li > .story-list__navcap {
  color: #43b771;
  background-image: url(../images/lang-navcap.png);
}
.story .story-list__wrap:nth-child(3) {
  background: rgba(159, 98, 184, 0.1);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer {
  border: solid 2px #9f62b8;
  color: #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer::before {
  background-image: url(../images/regular-deco01.png);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer::after {
  background-image: url(../images/regular-deco02.png);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__ttl::after {
  background-image: url(../images/regular-line.png);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__img::before {
  content: "Diploma & Degree Program";
  top: -20px;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__img > .story-list__btn {
  background-color: #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about::after {
  background-image: url(../images/regular-serif.png);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block:nth-child(2) > .story-list__unit > .story-list__item {
  border: dashed 1px #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__tab {
  background-color: #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__item {
  border: solid 1px #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__box > .story-list__about > .story-list__block > .story-list__unit > .story-list__item::after {
  background-color: #9f62b8;
  border: solid 1px #9f62b8;
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__nav {
  background: rgba(159, 98, 184, 0.1);
}
.story .story-list__wrap:nth-child(3) > .story-list__outer > .story-list__inner > .story-list__nav li > .story-list__navcap {
  color: #9f62b8;
  background-image: url(../images/regular-navcap.png);
}
.story .story-list__outer {
  width: 92%;
  margin: 0 auto;
  background-color: #fff;
  border: solid 2px #46bbd8;
  border-radius: 30px;
  padding: 80px 0 48px;
  color: #46bbd8;
  position: relative;
}
.story .story-list__outer::before {
  position: absolute;
  content: "";
  background-image: url(../images/walk-deco01.png);
  background-size: contain;
  width: 150px;
  height: 150px;
  top: 10px;
  right: 20px;
}
.story .story-list__outer::after {
  position: absolute;
  content: "";
  background-image: url(../images/walk-deco02.png);
  background-size: contain;
  width: 150px;
  height: 150px;
  left: 10px;
  bottom: 12px;
}
.story .story-list__inner {
  width: 88%;
  margin: 0 auto;
}
.story .story-list__ttl {
  width: fit-content;
  position: relative;
}
.story .story-list__ttl h3 {
  font-size: 30px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .story .story-list__ttl h3 {
    font-size: 30px;
    line-height: 1;
  }
}
.story .story-list__ttl h3 {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__ttl h3 {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__ttl h3 span {
  font-family: "Caveat", cursive;
  font-size: 29px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .story .story-list__ttl h3 span {
    font-size: 29px;
    line-height: 1;
  }
}
.story .story-list__ttl::after {
  content: "";
  position: absolute;
  background-image: url(../images/walk-line.png);
  background-size: cover;
  width: 100%;
  height: 6px;
  bottom: -16px;
  left: 0;
}
.story .story-list__note {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 48px;
}
@media screen and (max-width: 829px) {
  .story .story-list__note {
    font-size: 18px;
    line-height: 1.5;
  }
}
.story .story-list__note {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__note {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__box {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 64px;
}
.story .story-list__img {
  width: 34%;
  aspect-ratio: 1.449/1;
  margin-left: 36px;
  position: relative;
}
.story .story-list__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.story .story-list__img::before {
  content: "Working Horiday";
  position: absolute;
  font-family: "Caveat", cursive;
  font-size: 26px;
  line-height: 1;
  top: -16px;
  left: -36px;
  transform: rotate(-7deg);
}
@media screen and (max-width: 829px) {
  .story .story-list__img::before {
    font-size: 26px;
    line-height: 1;
  }
}
.story .story-list__img::before {
  letter-spacing: calc(0.2 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__img::before {
    letter-spacing: calc(0.2 * 1em);
  }
}
.story .story-list__btn {
  position: absolute;
  right: -30px;
  bottom: -22px;
  width: 70px;
  height: 43px;
  border-radius: 50%;
  background-color: #46bbd8;
  display: flex;
  justify-content: left;
  align-items: center;
}
.story .story-list__btn img {
  width: 47px;
  height: 19px;
}
.story .story-list__about {
  padding-bottom: 56px;
  width: 54%;
  position: relative;
}
.story .story-list__about::before {
  position: absolute;
  content: "たとえば、\aこんなご提案をします";
  white-space: pre;
  width: 236px;
  top: -72px;
  right: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (max-width: 829px) {
  .story .story-list__about::before {
    font-size: 16px;
    line-height: 1.6;
  }
}
.story .story-list__about::before {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__about::before {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__about::after {
  position: absolute;
  content: "";
  background-image: url(../images/walk-serif.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 236px;
  height: 72px;
  top: -56px;
  right: 0;
}
.story .story-list__block {
  display: flex;
  justify-content: left;
  align-items: end;
  gap: 10px;
  font-size: 20px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .story .story-list__block {
    font-size: 20px;
    line-height: 1;
  }
}
.story .story-list__block {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__block {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__block:nth-child(2) {
  margin-top: 20px;
}
.story .story-list__block:nth-child(2) > .story-list__unit {
  width: 35%;
}
.story .story-list__block:nth-child(2) > .story-list__unit > .story-list__item {
  border: dashed 1px #46bbd8;
}
.story .story-list__unit {
  position: relative;
  width: 76%;
}
.story .story-list__unit:nth-of-type(3) {
  margin-left: 32px;
}
.story .story-list__tab {
  width: fit-content;
  padding: 8px 16px;
  background-color: #46bbd8;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  line-height: 1;
}
@media screen and (max-width: 829px) {
  .story .story-list__tab {
    font-size: 14px;
    line-height: 1;
  }
}
.story .story-list__tab {
  letter-spacing: calc(0.05 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__tab {
    letter-spacing: calc(0.05 * 1em);
  }
}
.story .story-list__item {
  width: 100%;
  padding: 16px 0;
  border: solid 1px #46bbd8;
  border-radius: 0 4px 4px 4px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.story .story-list__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #46bbd8;
  border: solid 1px #46bbd8;
  border-radius: 0 4px 4px 4px;
  opacity: 0.08;
  left: 3px;
  top: 3px;
  z-index: -1;
}
.story .story-list__text {
  padding-bottom: 16px;
  position: relative;
}
.story .story-list__text span {
  font-family: "Caveat", cursive;
  font-size: 50px;
  line-height: 1;
  position: absolute;
  bottom: 6px;
}
@media screen and (max-width: 829px) {
  .story .story-list__text span {
    font-size: 50px;
    line-height: 1;
  }
}
.story .story-list__text span {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__text span {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__caption {
  position: absolute;
  width: 92%;
  height: 48px;
  margin-top: 6px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.story .story-list__caption img {
  width: 100%;
  height: 100%;
}
.story .story-list__nav {
  display: flex;
  height: 60px;
  margin: 104px auto 0;
  width: fit-content;
  background: rgba(70, 187, 216, 0.1);
  border-radius: 30px;
}
.story .story-list__nav li {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  line-height: 1;
  color: #444444;
}
@media screen and (max-width: 829px) {
  .story .story-list__nav li {
    font-size: 18px;
    line-height: 1;
  }
}
.story .story-list__nav li {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__nav li {
    letter-spacing: calc(0.1 * 1em);
  }
}
.story .story-list__nav li:nth-child(n+2)::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 27px;
  background: repeating-linear-gradient(to bottom, #808080 0 2px, transparent 2px 4px);
  left: 0;
}
.story .story-list__navcap {
  position: absolute;
  color: #46bbd8;
  font-size: 14px;
  line-height: 1;
  top: -24px;
  background-image: url(../images/walk-navcap.png);
  background-size: contain;
  width: 192px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 829px) {
  .story .story-list__navcap {
    font-size: 14px;
    line-height: 1;
  }
}
.story .story-list__navcap {
  letter-spacing: calc(0.1 * 1em);
}
@media screen and (max-width: 829px) {
  .story .story-list__navcap {
    letter-spacing: calc(0.1 * 1em);
  }
}/*# sourceMappingURL=style.css.map */